#title {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 500%;
    text-align: center;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#container {
    border-color: black;
    border-style: solid;
    background-color: bisque;
}


body {
    font-family: sans-serif;
}

#world-map {
    width: 100%;
}

ul {
    list-style-type: none;
    column-count: 3;
    text-align: center;
}

li {
    border-radius: 20px;
    border-style: groove;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgoldenrodyellow;
    -webkit-column-break-inside: avoid;
}

#flag {
    width: 10%;
}

#Africa {
    color: blue
}

#Americas {
    color: green;
}

#Asia {
    color: red;
}

#Europe {
    color: yellow;
}

#Oceania {
    color: purple;
}
